body {
    margin: 0;
  }

  h1 a,
  #grid a {
    /* color: black; */
    text-decoration: none;
  }

  h1 {
    text-align: center;
    font-weight: 200px;
  }

  h2 {
    font-size: 25px;
  }

  .head {
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 20px;

  }

  aside {
    border-right: 1px solid gray;
    width: 150px;
  }

  aside ol {
    margin: 0;
    padding: 20px 30px;
  }

  #grid {
    display: grid;
    grid-template-columns: 150px 1fr;
  }

  section {
    padding-left: 20px;
  }

  /* screen width < 800px */
  @media(max-width:800px) {
    #grid {
      display: block;
    }

    aside {
      border-right: none;
    }

    .head {
      border-bottom: none;
    }

  }